body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: black;
}

#main {
  background: rgb(243, 240, 239);
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#img-div {
  text-align: center;
  background: white;
}

#headline {
  text-align: center;
}

ul {
  text-align: left;
  display: block;
  max-width: 800px;
  margin: 0 auto 50px auto;
}
